<!-- <div>
    <form id="loginForm">
        <div class="formItem" style="text-align: center"><p>Logo</p></div>
        <div class="formItem" style="text-align: center"><p>user id <input type="text" name="userId"></p></div>
        <div class="formItem" style="text-align: center"><p>password <input type="password" name="password"></p></div>
        <div class="formButton" style="text-align: center"><button>Log In</button></div>
    </form>
</div> -->

<div class="container" style="margin-top: 100px; text-align: center;">
    <div class="row" id="signin-title">
        <h1 class="col"style="text-align: center; font-size: 50px;">Employee Reimbursment System</h1>
    </div>
    <div class="row" style="justify-content: center;">
        <div class="col-s" style="text-align: center;" id="signin">
            <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
            <form id="loginForm">
                <h3 class="formItem">Employee Login:</h3>
                <p class="formItem">username: <input class="txtBox" type="text" name="username" placeholder="username" ngModel> </p>
                <p class="formItem">password: <input class="txtBox" type="password" name="password" placeholder="password" ngModel> </p>
                <button class="loginButton" type="submit" style="width: 200px;">Sign In</button>
            </form>
        </div>
    </div>
    <div class="row" style="padding: 5px;" id="createnewaccount">
        <p class="col" style="text-align: center;">Create New Account</p>
    </div>
</div>