<div class="container" style="margin-top: 100px; text-align: center;">
    <div class="row" id="signin-title">
        <h1 class="col"style="text-align: center; font-size: 50px;">Employee Reimbursment System</h1>
    </div>
    <div class="row" style="justify-content: center;">
        <div class="col-s" style="text-align: center;" id="signin">
            <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
            <form id="loginForm">
                <img style="width: 100px; padding:5px;" src="\assets\expenseLogo.png">
                <img style="width: 100px; padding:5px;" src="\assets\expenseLogo.png">
                <img style="width: 100px; padding:5px;" src="\assets\expenseLogo.png">
                <h3>Employee Log In</h3>
                <p class="formItem">username: <input class="txtBox" type="text" name="username" placeholder="username" ngModel> </p>
                <p class="formItem">password: <input class="txtBox" type="password" name="password" placeholder="password" ngModel> </p>
                <p>Dont have an account?</p>
                <p>Create New Account</p>
                <button class="loginButton" type="submit" style="width: 200px;">Log In</button>
            </form>
        </div>
    </div>
</div>