<div class="container" style="text-align: center;">
    <div class="row">
        <h1>Employee Home Page</h1>
    </div>
    <div class="row">
        <p><button class="homeButtons" (click)="signOut()" >Sign Out</button></p>
    </div>

    <!-- use get to get all the tickets for current employee -->
    <div class="row" >
        <table class="ticketTable">
            <tr>
                <th>Ticket Id</th>
               
                <th>Date</th>
              
                <th>Employee ID</th>
                
                <th>Amount</th>
              
                <th>Description</th>
                
                <th>Status</th>
              
            </tr>
            <tr>
                <td> <div *ngFor= "let ticket of tickets "> {{ticket.id}}</div> </td>
                <td> <div *ngFor= "let ticket of tickets "> {{ticket.time| date }}</div></td>
                <td> <div *ngFor= "let ticket of tickets "> {{ticket.user_id}}</div></td>
                <td> <div *ngFor= "let ticket of tickets "> {{ticket.amount |currency}}</div></td>
                <td> <div *ngFor= "let ticket of tickets "> {{ticket.reason}}</div></td>
                <td> <div *ngFor= "let ticket of tickets "> {{ticket.status}}</div></td>
            </tr>
           
           
        </table>
    </div>


    <div>
        <button class="homeButtons" (click)="refreshTable()" style="margin-top: 25px;">Refresh</button><br>
        <button class="homeButtons" (click)="createNewTicket()" style="margin: 25px;">Create New Ticket</button>
         <div *ngIf="role === 'admin'">
            <button class="homeButtons" (click)="approveOrDeny()">Approve Or Deny</button>
        </div>

        
    </div>

</div>
