<h1>Create Expense Ticket</h1>

<form class="loginForm" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <p>Enter Reason <input class="txtBox" type="text" name="reason" placeholder="Enter Reason" ngModel></p>
    <br><br>
    <p>Enter Amount <input class="txtBox" type="text" name="amount" placeholder="Enter Amount" ngModel></p>
    <br><br>
    <p>Enter Date/Time <input class="txtBox" type="text" name="time" placeholder="Enter Date/Time" ngModel></p>
    <br><br>
    <p>Enter User Id <input class="txtBox" type="text" name="userid" placeholder="Enter User Id" ngModel></p>
    <br><br>
    <p>Enter Status <input class="txtBox" type="text" name="status" placeholder="Status" ngModel></p>
    <br><br>
    <button class="loginButton" type="submit">Submit</button>
</form>
