<h1>Create Account</h1>

<form #loginForm="ngForm" (ngSubmit)="createUser(createUserForm.value)" >
    <input type="text" name="first_name" placeholder="Enter First Name" ngModel>
    <br><br>
    <input type="text" name="last_name" placeholder="Enter Last Name" ngModel>
    <br><br>
    <input type="text" name="phone_number" placeholder="Enter Phone Number" ngModel>
    <br><br>
    <input type="email" name="email" placeholder="Enter Email Address" ngModel>
    <br><br>
    <input type="text" name="employee_type" placeholder="Enter Employee Type" ngModel>
    <br><br>
    <input type="text" name="user_name" placeholder="Enter User Name" ngModel>
    <br><br>
    <input type="password" name="password" placeholder="Enter Password" ngModel>
    <br><br>
    <button>Submit</button>
</form>
